body {
  display: flex;
  justify-content: space-between;
  border-color: black;
  border-style: solid;
  border: 4px

}

.gamebox {
  background-color: slateBlue;
  width: 70%;
  border-color: purple;
  border-style: solid;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center
}

header {
  border: 4px;
  border-color: orange;
  border-style: solid;
  padding: 0px;
}



.difficulty-box {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: center;
  border: 4px;
  border-color: red;
  border-style: solid;
  background: darkred;
  border-radius: 20px;
  border-radius: 20px;
  width: 15%;
  height: 20%
}
.rules {
  margin: 3;
  color: lightgreen
}

.title {
  font-size: larger;
  color: gold;
}

.weapon-icons {
  border-color: pink;
  border-style: solid;
  border: 4px;
  height: 5%;
  width: 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  width: 80px
}
.weapon-box {
  border-color: green;
  border-style: solid;
  border: 4px;
}
.weapon {
  height: 40px;
  width: 40px
}

.human-side {
  width: 15%;
  background-color:green
}

.computer-side {
  width: 15%;
  background-color:green
}

.player-icon {
  height: 5%;
  width: 80%
}

.computer-icon {
  height: 5%;
  width: 80%
}
