body {
  margin: 0;
}

main {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.gamebox {
  background-color: slateBlue;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 70%;
}

header {
  padding: 0px;
  background-color: slateBlue;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

h1 {
  color: #ccff15;
}

.difficulty-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: darkred;
  border-radius: 20px;
  border-radius: 20px;
  width: 25%;
  height: 25%;
}
.hard {
  margin: 10%;
}
.rules {
  margin: 3;
  color: lightgreen;
  font-size: 1vw, 1vh;
}

.title {
  font-size: larger;
  color: gold;
}

.weapon-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.weapon {
  height: 80px;
  width: 80px;
}

.weapon-choice {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 500px;
  width: 500px;
}

.human-side {
  width: 15%;
  background-color: green;
}

.computer-side {
  width: 15%;
  background-color: green;
}

.icon {
  height: 50px;
  width: 50px;
}
.player {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hidden {
  display: none;
}
